raml-parser-2/src/test/resources/org/raml/v2/api/v10/smoke10/files.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="response">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"
       minOccurs="1"/>
      <xs:element name="age" type="xs:integer"
       minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>