src/test/resources/org/raml/v2/parser/examples/slideshare/schemas/user_groups.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="groups">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="numposts"/>
              <xs:element type="xs:string" name="numslideshows"/>
              <xs:element type="xs:string" name="nummembers"/>
              <xs:element type="xs:string" name="created"/>
              <xs:element type="xs:string" name="queryname"/>
              <xs:element type="xs:string" name="url"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
